<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My book Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>My Book</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Page_count</th>
            </tr>
        </thead>
        <tbody>
            {% for record in my_book %}
                <tr>
                    <td>{{ record.id }}</td>
                    <td>{{ record.title }}</td>
                    <td>{{ record.author }}</td>
                    <td>{{ record.page_count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
