<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>User Page</title>
</head>
<body>
    <h3>User Menu</h3>
    <li><a href="add_book">Add_book</a></li><br>
    <li><a href="my_book">My_book</a></li><br>
    <li><a href="update">Update</a></li><br>
    <li><a href="delete">Delete</a></li><br>

</body>
</html>